* {
    box-sizing: border-box;
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    /*border: 0;*/
    list-style: none;
}

a {
    color: royalblue;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px lightgrey solid;
}

header ul {
    display: flex;
    list-style: none;
}

header li {
    display: block;
}
header a {
    display: block;
    padding: 1rem;
}

header button {
    display: block;
    background: none;
    border: none;
    padding: 1rem;
    font-size: 1em;
}

header a:hover,
header button:hover {
    background: lightgrey;
}

.module-wrapper {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    padding-top: 4rem;
}

[class$="module"] {
    width: 100%;
    max-width: 20rem;
    align-self: center;
    justify-self: center;
}

[class$="module"] [class$="form"] {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

[class$="module"] [class$="form"] div {
    display: flex;
    flex-direction: column;
    position: relative;
}

[class$="module"] [class$="form"] div:not(:last-child) {
    margin-bottom: 1rem;
}

.login-form-password a {
    position: absolute;
    top: 0;
    right: 0;
}

.module-header {
    text-align: center;
    font-weight: bold;
}

[class$="error"] {
    color: darkred;
    font-weight: bold;
}

[class$="success"] {
    color: lawngreen;
    font-weight: bold;
}

[class$="module"] [class$="form"] div .line-form-error {
    position: absolute;
    left: calc(100% + 1rem);
    bottom: 0;
    width: max-content;
}

[class$="module"] > [class*="options"] > div {
    margin-bottom: 1rem;
}

[class$="module"] > [class*="options"] > div > p{
    margin-bottom: 0.5rem;
}

.center {
    text-align: center;
}

.wrapper {
    padding: 2rem 4rem;
}