RewriteEngine On
RewriteRule ^steg2$ login.php [L]
RewriteRule ^steg2/$ login.php [L]
RewriteRule ^steg2/api$ api/dokumentasjon.php [L]
#RewriteRule ^$ login.php [L]
RedirectMatch 404 ^/inc(/.*|$)
RedirectMatch 404 ^/priv(/.*|$)
